body,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$postcardBG: rgb(246, 246, 246);
$postcardShadowBG: #ebebeb;

.postcard {
  background-color: $postcardBG;
  padding: 1rem;
  margin-bottom: 3rem;

  -webkit-box-shadow: 0px 0px 17px 7px $postcardShadowBG;
  box-shadow: 0px 0px 17px 7px $postcardShadowBG;

  p {
    font-size: 1.4em;
  }
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}

.projectList {
  border: 1px solid black;
}
