@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$postcardBG: rgb(246, 246, 246);
$postcardShadowBG: #ebebeb;

$postcardShadowBG2: #e0e0e0;

.postcard {
  background-color: $postcardBG;
  padding: 1rem;
  margin-bottom: 3rem;

  -webkit-box-shadow: 0px 0px 17px 7px $postcardShadowBG;
  box-shadow: 0px 0px 17px 7px $postcardShadowBG;
  transition: 0.6s;
  p {
    font-size: 1.1em;
  }
}

.postcard:hover {
  -webkit-box-shadow: 0px 0px 17px 7px $postcardShadowBG2;
  box-shadow: 0px 0px 17px 7px $postcardShadowBG2;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}

.projectList {
  border: 1px solid black;
}
