body,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.postcard {
  background-color: rgb(236, 236, 236);
  padding: 1rem;
  margin-bottom: 3rem;

  -webkit-box-shadow: 0px 0px 17px 7px #e6e6e6;
  box-shadow: 0px 0px 17px 7px #e6e6e6;

  p {
    font-size: 1.4em;
  }
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}
